<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Date/Time</th>
			<th scope="col">Weather</th>
			<th scope="col">Temperature</th>
			<th scope="col">Humidity</th>
            <th scope="col">Min Temperature</th>
            <th scope="col">Max Temperature</th>
		</tr>
	</thead>
	<tbody>
		@for (forecast of forecastData; track forecast.datetime; let i = $index) {
			<tr>
				<td>
					{{ forecast.datetime }}
				</td>
				<td>{{ forecast.weather }}</td>
				<td>{{ forecast.temperature }}</td>
                <td>{{ forecast.humidity }}</td>
                <td>{{ forecast.min_temperature }}</td>
                <td>{{ forecast.max_temperature }}</td>
			</tr>
		}
	</tbody>
</table>